<h1> Kittens </h1>
<% @kittens.each do |k| %>
  <ul>
  <li><%= k.name %></li>
  <div><%= k.name %></div>
  <div><%= k.cuteness %></div>
  <div><%= k.softness %></div>
  <%= link_to "Destroy", article_path(@article), data: { turbo_method: :delete,
                                                         turbo_confirm: "Are you sure?"
                                                       } %>
  </ul>
<% end %>