<div><%= @kitten.name %></div>
<div><%= @kitten.age %></div>
<div><%= @kitten.cuteness %></div>
<div><%= @kitten.softness %></div>
<%= link_to "Edit", edit_kitten_path(@kitten) %><br>
<%= link_to "Destroy", kitten_path(@kitten), data: { turbo_method: :delete,
                                                         turbo_confirm: "Are you sure?"
                                                       } %>
